html {
	direction:rtl;
	text-align:right;
	height: 100%;
}
body {
	margin: 0;
	font-family:"sans-serif",Traditional Arabic;
	text-align:center;
	height: 100vh;
	display:flex;
	background-color:#E1E5EA;
	
	
}

footer {
	margin-bottom:10px;
	background-color:
}
.navBar {
	overflow: hidden;
	background-color: #A7BBC7; /* color of the nav bar*/
	width:100%;
	height:60 auto;
	margin:0px;
	position:fixed;
	justify-content:space-between;
	align-items:center;
	display:flex;
	cursor: pointer;
	
	
}

/* .navBar-right{
	float:right;
	
}

.navBar-left{
	float:left;
	
} */


.navBar a {
	float:right;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px ;
	text-decoration: none;
	font-size: 24px;
	
	
}

.navBar a:hover {
	background-color: #02475E;
	color: black;
}

.navBar a.active {
	color: white;
}



.navBar input[type=text] {
    border: 1px solid #ccc;
	
	
}

.navBar input[type=text] {
	float:right;
	padding: 12px;
	border: none;
	justify-content:flex-end;
	text-align:rtl;
	display:inline;
	font-size: 15px;
	
}


.logo{
	float:right;
	display:flex;
	justify-content:flex-end;
	
}

.imgaccount{
	 opacity: 1;
       margin:0px;
}



.newAdd {
	
	position:fixed ;
	bottom: 20px;
	Right: 24px;
}


.newAdd {
	transition: transform .2s;
	width: 80px;
	height: 80px;
	margin: 0 auto;
}

.newAdd:hover {
	transform: scale(1.5);
}


.headIntro {
	
	font-size:20ps;
	padding:10px;
	height:auto;
	margin-right:5%;
	margin-bottom:18px;
	margin-top:60px;
}
.responsive {
	width: 40px;
	max-width: 40px;
	height: 40px;
}
--------------------------

table, th,td {
	
	border-collapse: collapse;
	border-bottom:1px solid white;
}

table {
	
	
	margin-left:5%;
	margin-right:5%;
	margin-bottom:0px;
	float:flex;
	display:inherit;
	overflow-x:auto;
	background-color:#F9F9F9;
	border-collapse: collapse;
	height:auto;
	position:auto;
	border-radius:8px;
}

td{
	padding: 10px;
	margin-right:8px;
	width: 1000px;
	text-align:center;
	font-size:24px;
	color:#A7BBC7;
	font-weight:bold;
	
}

td a:active,a:link, a:visited {
	color:#02475E;
	text-decoration: none;
	display: inline-block;
}

td a:hover{
	
	 opacity:0.5;
}

th {
	width:80;
	color: #333;
	border-left:1px solid white;
	
	
}
th p {
	font-size:12px;
	margin-right:8px;
	margin-left:8px;
	margin-top:0px;
	margin-bottom:0px;
	direction:ltr;
}


th p:hover, th img:hover {
	
	opacity:0.5;
	
}

th img {
	margin:4px;
	background-color:#A7BBC7;
	border-radius:10px;
}


.info-article {
	font-size:8px;
	font-family:"tahoma";
	margin:2px;
	width:auto;
}